/* Webfont: NOIRetBLANCMedItalic */@font-face {
    font-family: 'NOIRetBLANCMedItalic';
    src: url('NOIRetBLANC_Med_Italic.woff2') format('woff2'), /* Modern Browsers */
         url('NOIRetBLANC_Med_Italic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

